{% extends 'hackaton_app/base.html' %}
{% block content %}
<div class="jumbotron bg-white my-box-shadow border">
<h1 class="display-4">{{ flash.question }}</h1>
    <hr>
{% if flash.is_abcd %}
<ul style="list-style: upper-alpha;">
    <li class="p-1">{{ flash.a }}</li>
    <li class="p-1">{{ flash.b }}</li>
    <li class="p-1">{{ flash.c }}</li>
    <li class="p-1">{{ flash.d }}</li>
</ul>
{% endif %}
<h3>Poprawna: {{ flash.correct_answer }}</h3>


{% if flash_ans is not None %}
{% for item in flash_ans %}
    <p>{{item.answer}}</p>

{% endfor %}
{% endif %}
</div>


{% endblock %}