{% extends 'hackaton_app/base.html' %}
{% block content %}

    {% for item in flash %}

        <div class="jumbotron">
          <h1 class="display-4"> {{ item.question }} </h1>
            {% if item.is_abcd%}
                <ul>
                    <li>{{ item.a }}</li>
                    <li>{{ item.b }}</li>
                    <li>{{ item.c }}</li>
                    <li>{{ item.d }}</li>
                </ul>
                <h3 class="display-4"> {{ item.correct_answer }} </h3>

            {% endif %}


        </div>

    {% endfor %}
{% endblock %}