{% extends 'hackaton_app/base.html' %}
{% block content %}

    {% for item in flash %}

        <div class="jumbotron">
          <h1 class="display-5"> {{ item.question }} </h1>
            {% if item.is_abcd%}
                <ul>
                    <li>{{ item.a }}</li>
                    <li>{{ item.b }}</li>
                    <li>{{ item.c }}</li>
                    <li>{{ item.d }}</li>
                </ul>
            {% endif %}
            <h3 class="lead"> {{ item.correct_answer }} </h3>
            <a class="btn btn-primary" href="{% url 'flashcard_update' item.pk %}">Aktualizuj fiszke</a>
            <a class="btn btn-primary" href="{% url 'flashcard_delete' item.pk %}">Usuń fiszke</a>
        </div>

    {% endfor %}
{% endblock %}