{% extends 'hackaton_app/base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
    <div class="jumbotron bg-white my-box-shadow border">
      <h1 class="display-4">Tworzenie Fiszek</h1>
        <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="{% url 'flashcard_create_oquestion' %}" role="button">Pytanie Otwarte</a>
      <a class="btn btn-primary btn-lg" href="{% url 'flashcard_create' %}" role="button">ABCD</a>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="{% url 'assign_flashcard' %}" role="button">Przydziel fiszkę</a>
    </div>
    <div class="jumbotron bg-white my-box-shadow border">
      <h1 class="display-4">Zobacz utworzone fiszki</h1>
        <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="{% url 'flashcard_show' %}" role="button">Zobacz fiszki</a>
        <a class="btn btn-primary btn-lg" href="{% url 'assigned_flashcard_show' %}" role="button">Przydzielone fiszki</a>
    </div>

{% else %}
        <div class="jumbotron bg-white my-box-shadow border">
      <h1 class="display-4">Witamy w fiszkownicy</h1>
        <hr class="my-4">
        <div class="display-6">
            Twoje osobiste narzędzie sprawdzania koncentracji studentów,
            uczniów oraz współmałżonków podczas pracy zdalnej</div>
        <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">To ciekawe ! Moge założyć konto ?</a>
    </div>

    <div class="jumbotron bg-white my-box-shadow border">
            <div class="services container">
              <div class="services__left" data-aos="fade-right" data-aos-duration="600">
                      <div class="center">
                        <h1 class="services__heading">NAUCZYCIELE</h1>

                        <p class="services__subheading">Pomóż każdemu uczniowi, aby zyskał pewność siebie w trakcie nauki dowolnego materiału.</p>
                        </div>
                </div>

                <ul class="services__list" data-aos="fade-left" data-aos-duration="1000">
                    <li class="services__item">
                        <i class="fab fa fa-paper-plane services__item__icon"></i>
                        <p class="services__item__text">Wysyłaj fiszki uczniom w trakcie spotkania</p>
                    </li>
                    <li class="services__item" >
                    <i class="far fa fa-plus services__item__icon"></i>
                    <p class="services__item__text">Twórz różnego rodzaju fiszki</p></li>
                    <li class="services__item">
                    <i class="far fa fa-tags services__item__icon"></i>
                    <p class="services__item__text">Zarządzaj aktualnymi fiszkami</p></li>
                    <li class="services__item">
                    <i class="fas fa fa-play services__item__icon"></i>
                    <p class="services__item__text">Sprawdzaj postęp swoich uczniów, mając wgląd w ich odpowiedzi</p></li>
                </ul>
            </div>
    </div>
{% endif %}

{% endblock %}
{% block scripts %}
{% endblock %}