{% extends 'hackaton_app/base.html' %}
{% block content %}

<div class="jumbotron bg-white my-box-shadow border">
  <h1 class="display-4">Tworzenie Fiszek</h1>
    <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="{% url 'flashcard_create_oquestion' %}" role="button">Pytanie Otwarte</a>
  <a class="btn btn-primary btn-lg" href="{% url 'flashcard_create' %}" role="button">ABCD</a>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="{% url 'assign_flashcard' %}" role="button">Przydziel fiszkę</a>
</div>
<div class="jumbotron bg-white my-box-shadow border">
  <h1 class="display-4">Zobacz utworzone fiszki</h1>
    <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="{% url 'flashcard_show' %}" role="button">Zobacz fiszki</a>
    <a class="btn btn-primary btn-lg" href="{% url 'assigned_flashcard_show' %}" role="button">Przydzielone fiszki</a>
  <button onclick="check_assigned_flashcards({{ user_id }})" class="btn btn-secondary">Sprawdź przydzielone</button>
  <div id="assigned_flashcards"></div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
<!--<script>-->
<!--&lt;!&ndash;  setInterval(check_assigned_flashcards, 2000);&ndash;&gt;-->

<!--  function check_assigned_flashcards(){-->
<!--    $.ajax({-->
<!--        type: 'GET'-->
<!--        url: '{% url 'check_assigned_flashcards' %}',-->
<!--        success: function (data) {-->
<!--            $("#assigned_flashcards").html("+$"+data);-->
<!--        }-->
<!--    })-->
<!--  };-->
<!--</script>-->
{% endblock %}